
    <div >
        <h3>{{.post_content</h3>
        <div>
            {{post_content}}
        </div>
            <div>
                <b>{{user_id}}</b> | 
                 | {{format_date created_at}} | <a href="/post/{{post_id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
        
    </div>