
{{!-- show all posts via partials--}}

{{#if loggedIn}}

<div class="container">
            <h2>{{post.post_title}}</h2>
                <div class="m-3">
                    <button type="submit" id="edit" class="btn btn-primary">Edit</button>
                    <button type="submit" id="delete" class="btn btn-primary">Delete</button>
                </div>
                    <div class="row m-3">
                        <div class="card border col-md rounded" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title font-weight-bold"><a href="/post/{{id}}">{{post.post_title}}</a></h5>
                              <p class="card-text">{{post.post_content}}</p>
                            <div class="bg-grey">posted by: {{user.username}} on {{format_date dateCreated}}</div>
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    <form class="card-body" id="comment-form">
                        <label class="form-label">Comment</label>
                        <input id="comment" name="comment-body" class="form-input"/>
                        <button type="submit" class="btn">Submit Comment</button>
                     </form>
                </div>
            </div>
         </div>
    </div>
<div class="card">
    <h3 class="card-header"></h3>

</div>
{{/if}}

{{!-- show comments via partials --}}

{{#if loggedIn}}
{{!-- Link comment.js script --}}
{{/if}}