{{! HTML to view single post and pull in that posts details}}
<div class="container">
  <div class="row m-3">
    <div class="card border col-md rounded" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title font-weight-bold text-uppercase">{{post.post_title}}</h5>
        <input type="hidden" name="post-id" value="{{post.id}}" />
        <p class="card-text">{{post.post_content}}</p>
        <div class="font-italic pt-4">original post written by:
          {{post.user.username}}
          on
          {{format_date post.date_created}}</div>
      </div>
      {{! If that post has any comments - loop through them to show  }}
      {{#each post.comments as |comment|}}
        <hr />
        <div class="bg-light p-2">
          <p> {{comment.comment_content}} </p>
          <p class="font-italic"> posted on: {{format_date comment.date_created}}</p>
        </div>
      {{/each}}
      <hr />
      {{! Form to leave a comment on a post }}
      <p class="text-uppercase">Leave a comment:</p>
      <form class="form new-comment-form">
        <div class="form-group">
          <textarea
            id="comment-content"
            class="form-control"
            name="comment-content"
            rows="2"
          ></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn custom-button">Submit Comment</button>
          <p id="commentWarning" class="font-italic text-danger pt-3"></p>
        </div>
      </form>
    </div>
  </div>

<script src="/js/comment.js"></script>